<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <property resource="application-prod.yml" />
    <appender name="SENTRY" class="io.sentry.logback.SentryAppender">
        <options>
            <dsn>${DSN}</dsn>
        </options>
        <minimumEventLevel>INFO</minimumEventLevel>
        <minimumBreadcrumbLevel>DEBUG</minimumBreadcrumbLevel>
    </appender>

    <logger name="org.hibernate.SQL" additivity="false">
        <level value = "DEBUG" />
        <appender-ref ref="SENTRY" />
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SENTRY" />
    </root>
</configuration>